
.color {
    background-color: #00796B;
    height: 100%;
}

.addCard {
    width: 100%;
    min-height: 200px;
}

.cardSelected {
    background-color: transparent;
    border: 3px solid #00796B;
}

.divIcon {
    margin-bottom: 1vh;
    max-width: 350px;
    background-color: #61dafb;
}

.icons {
    margin-top: 1vh;
    margin-left: 0.3vw;
}

.media {
    height: 20vh;
}

.margin {
    min-height: 100px;
}
