.card {
    max-width: 400px;
    min-height: 330px;
}

.addCard {
    width: 100%;
    min-height: 330px;
    background-color: darkorange;
}

.cardSelected {
    max-width: 350px;
    min-height: 330px;
    background-color: transparent;
    border: 3px solid #00796B;
}

.divIcon {
    margin-bottom: 1vh;
    max-width: 350px;
    background-color: #61dafb;
}

.icons {
    margin-top: 1vh;
    margin-left: 0.3vw;
}

.media {
    height: 20vh;
}