.card_test {
    background-color: red;
    height: 350px;
}

.icon_test {
    background-color: green;
    height: 350px;
}

.addCard {
    width: 100%;
    background-color: darkorange;
}

.cardSelected {
    background-color: transparent;
    border: 3px solid #00796B;
}

.divIcon {
    margin-bottom: 1vh;
    max-width: 350px;
    background-color: #61dafb;
}

.icons {
    margin-top: 1vh;
    margin-left: 0.3vw;
}

.media {
    height: 20vh;
}
